body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.field{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}
.field input{
    padding: 3px 10px;
}
.form{
    margin-left:40%;
    width: 100%;
}
.form h1{
    width: 300px;
    text-align: center;
}
.field label{
    margin: 5px 0px;
    font-weight: bold;
    font-size: 12px;
}
form button{
    margin: 5px;
    width: 310px;
    padding: 5px;
    background-color: #00C3DF;
    color: white;
    border: 0px;
    border-radius: 5px;
}